.open-editor p {
    margin: 0;
}
.contextual-menu {
    overflow: hidden;
    color: #324148;
    border: 2px solid #e0e3e4;
    border-radius: 1px;
    background-color: white;

}
.action-button, .action-button svg{
    color: black;
}
.action-button{
    width: 47px;
    text-align: center;
    font-weight: bold;
    float: left;
    margin: 5px 0;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-left-color: #e0e3e4;
    border-right-color: #e0e3e4;
    cursor: pointer;
}
.action-button:hover{
    color: black;
    background-color: #e0e3e4;
}
.action-button:last-child{
    border-right-color: transparent;
}
.action-button:first-child{
    border-left-color: transparent;
}

.open-editor {
    min-height: 300px;
    border: 2px solid #e0e3e4;
    overflow: auto;
}
.open-editor i{
    font-style: italic;
}
.open-editor b{
    font-weight: bolder;
}
